# created by virtualenv automatically
*
# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore sensitive data
.env
config.json

# Allow QR_Code_Generator folder
!Qrcode_Generator/
!Qrcode_Generator/**